/* Basics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Style */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Header */
header {
  background-color: #504c70;
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

/* Navigation Bar */
nav {
  background-color: #301e4d;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 800px;
  display: grid
  
}
nav a:hover {
	text-decoration: overline;
}

.active {
	color: rgb(10, 137, 187);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1.5rem;
  border-radius: 10px;
}
nav ul li a 
{
  display: inline-block;
  padding: 2rem 3.5rem;
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}
/* Main */
main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: grid
}

/* Footer */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
