@media screen and (min-width: 768px) {
  .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
header {
    background-color: #5a4e85; 
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #180135; 
  color: white;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
nav a.active {
  color: white;
  background-color: #333;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.2em 0.5em;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

nav a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: bold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.cards section {
  background: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.cards img {
  width: 100%;
  border-radius: 5px;
  height: auto;
}

footer {
    background-color: #5a4e85; 
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
}


footer p {
    margin: 5px 0;
}
