@media screen and (min-width: 768px) {
  .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
header {
    background-color: #5a4e85; 
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
}
.menu {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  align-self: flex-end;
  margin: 10px;
}
nav {
  background-color: #180135; 
  color: white;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

nav a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: bold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
    background-color: #5a4e85; 
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
}

footer p {
    margin: 5px 0;
}
